@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #111827;
  --font-sans: var(--font-nunito-sans);
  --font-heading: var(--font-nunito);
  --color-primary: #4F46E5;
  --color-secondary: #14B8A6;
  --color-accent: #F59E0B;
  --color-highlight: #EC4899;
  --color-neutral-dark: #0D1B3D;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
